<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <logger name="org.springframework" level="OFF"/>
    <property name="APP_NAME" value="demo-e2e-test" />
    <contextName>${APP_NAME}</contextName>
	<property name="LOG_PATH" value="target/log" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread][%level][%logger{0} %L] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread][%-5level][%logger{0} %L] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="demo" additivity="false">
		<level value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

<!--    <logger name="org.springframework" level="warn"/> -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>

